@font-face {
    font-family: 'TypeWriter';
    src: local('TypeWriter'), url('../../assets/JMH-Typewriter-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  :global(body) {
    margin: 0;
  }
  
  .friendbag-container {
    background-color: #FFC0CB;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'TypeWriter', sans-serif;
    padding-top: 60px;
  }
  
  .friendbag-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #FFC0CB;
    height: 60px;
    z-index: 100;
  }
  
  .mybag-addIcon:hover {
    color: #b7717c;
  }
  
  .friendbag-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    color: white;
    z-index: 101;
    text-align: center;
  }
  
  .friendbag-bag {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 1em;
    max-width: 800px;
    width: 100%;
    padding-top: 60px;
  }
  
  .friendbag-slot {
    position: relative;
    background-color: #fff;
    border: 1px solid #eee;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: grey;
    text-align: center;
  }

  .friendbag-slot:hover {
    background-color: #f0f0f0;
  }
  
  .slot-buttons {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    visibility: hidden;
  }
  
  .friendbag-slot:hover .slot-buttons {
    visibility: visible;
  }
  
  .slot-button {
    color: white;
    background-color: #333;
    border-radius: 50%;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
  }