@font-face {
  font-family: 'TypeWriter';
  src: local('TypeWriter'), url('../../assets/JMH-Typewriter-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:global(body) {
  margin: 0;
}

.mybag-container {
  background-color: #FFC0CB;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'TypeWriter', sans-serif;
  padding-top: 60px;
}

.mybag-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #FFC0CB;
  height: 60px;
  z-index: 100;
}

.mybag-addIcon {
  color: white;
  font-size: 50px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 1370px;
  z-index: 1001;
  transition: color 0.3s ease;
}

.mybag-addIcon:hover {
  color: #b7717c;
}

.mybag-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  color: white;
  z-index: 101;
  text-align: center;
}

.mybag-bag {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 1em;
  max-width: 800px;
  width: 100%;
  padding-top: 60px;
}

.mybag-slot {
  position: relative;
  background-color: #fff;
  border: 1px solid #eee;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: grey;
  text-align: center;
}

.add-item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.add-item-form input[type="text"] {
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  font-family: Typewriter;
  font-size: 16px;
}

.add-item-form button[type="submit"] {
  padding: 10px 20px;
  background-color: #f09ea3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Typewriter;
  font-size: 16px;
}

.add-item-form button[type="submit"]:hover {
  font-family: Typewriter;
  background-color: #e08796;
}

.mybag-slot:hover {
  background-color: #f0f0f0;
  cursor:pointer;
}

.slot-buttons {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  visibility: hidden;
}

.mybag-slot:hover .slot-buttons {
  visibility: visible;
}

.slot-button {
  color: white;
  background-color: #974f62;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.delete-button {
  position: absolute;
  left: 0px;
  top: 0px;
  left: 10px;
  top:  10px;
}

.view-button {
  position: absolute;
  right: 0px;
  top: 0px;
  right: 20px;
  top: 10px;
}