@font-face {
    font-family: 'TypeWriter'; /* Give your font a name to be used in your CSS */
    src: local('TypeWriter'), /* This will attempt to use the local font if it matches the name */
         url('../../../assets/JMH-Typewriter-Thin.ttf') format('truetype'); /* Path to your font file */
    font-weight: normal;
    font-style: normal;
  }

  .mybag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This will take the full height of the viewport */
    background-color: #FFC0CB; /* This is a pink color similar to the one in the image */
    font-family: Typewriter; /* Replace with the font you're using */
  }