@font-face {
  font-family: 'TypeWriter';
  src: local('TypeWriter'),
       url('../../assets/JMH-Typewriter-Thin.ttf') format('truetype'); /* Path to your font file */
  font-weight: normal;
  font-style: normal;
}

.signup-container {
  background-color: #FFC0CB;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Typewriter;
}

.signup-container h1 {
  color: white;
  font-size: 40px;
}

.input-container {
  margin: 15px;
}

.signup-container input {
  font-size: 16px;
  font-family: Typewriter;
  padding: 10px;
  border: none;
}

.signup-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}
.signup-success {
  color: white;
  font-size: 26px;
  font-family: Typewriter;
  padding: 10px;
}
