@font-face {
    font-family: 'TypeWriter';
    src: local('TypeWriter'),
         url('../../assets/JMH-Typewriter-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FFC0CB;
    font-family: Typewriter;
  }
  
  .welcome-title {
    font-size: 64px;
    color: white;
    margin: 0;
    margin-bottom: 32px;
  }
  
  .welcome-actions {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  
  .welcome-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 8px 16px;
    font-family: Typewriter;
  }
  
  .welcome-button:hover {
    text-decoration: underline;
  }