.vanity-button {
  background-color: white;
  color: grey;
  font-size: 20px;
  cursor: pointer;
  padding: 6px 12px;
  font-family: Typewriter;
  border-radius: 15%;
  border: none;
  transition: background-color 0.3s ease;
  margin-top: 12px;
}
  
.vanity-button:hover {
  background-color: #b7717c;
  color: white;
}

.vanity-button:active {
  background-color: #b7717c;
  color: white;
}

.bag-button {
  height: 60px;
  width: 60px;
  background-color: #FFC0CB;
  color: white;
  font-size: 40px;
  cursor: pointer;
  font-family: Typewriter;
  border-radius: 15%;
  border: none;
  transition: background-color 0.3s ease;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.bag-button:hover, .bag-button:active {
  background-color: #b7717c;
  color: white;
}