.product-page {
    background-color: #FFC0CB;
    height: 500vh;
    width: 100%;
    margin: auto;
    padding: 20px;
    font-family: 'TypeWriter';
}

.product-outer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 40px;
    margin-right: 40px;
    padding-top: 40px;
}

.product-page h1 {
    font-size: 28px;
    color: white;
    margin-bottom: 10px;
}

.brand-name {
    color: white;
    font-size: 16px;
    margin-top: 14px;
    background-color: #b7717c;
    width: 18vh;
    padding: 10px;
    text-align: left;
}

.product-attributes-smaller {
    color: #b7717c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    margin-top: 14px;
}

.product-attributes-smaller .price .fa,
.product-attributes-smaller .likes .fa,
.product-attributes-smaller .rating .fa {
    font-size: 24px; /* Adjust the icon size as needed */
    margin: 5px; /* Optional: Add some spacing between the icon and text */
}

.add-to-bag-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b7717c;
    border: none;
    height: 14vh;
    width: 15vh;
    cursor: pointer;
    margin-top: 20px;
}

.add-to-bag-outer:hover {
    background-color: white;
}

.add-to-bag-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: none;
    height: 9vh;
    width: 13vh;
    font-size: 13px;
    padding:10px;
    padding-bottom: 20px;
    cursor: pointer;
    font-family: Typewriter;
}

.add-to-bag-inner:hover {
    color: #b7717c;
}

.popular-product {
    color: #b7717c;
}

.users-also-bagged, .reviews {
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
}

.users-also-bagged h2, .reviews h2 {
    font-size: 18px;
    color: #333;
}

.product-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 80vh;
}

.product-table h2 {
    text-align: center;
    color: white;
}

.product-table table {
    border: 2px solid #b7717c;
    font-size: 18px;
    width: 80vh;
}
